body, html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #5BB5FB;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: #025577; 
  padding-top: 50px;
}

p {
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  color: white;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

#footer{
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  text-align: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    height: 55px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.navbar a:hover {
  background-color: #025577;
}
.navbar img{
 /* Adjust this value as needed */
  width:50px;
  height: auto;
  margin-right: 10px;
  margin-left: 0px;
  padding-bottom: 45px;
}
/* Style the GymFlow logo */
img {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  max-width: 100%;
  height: auto;
}

#img1{
  top:20px;
}


#contact{
  font-size: 20px;
}

#phrasegym{
  font-size: 25px;
  margin-right: 20px;
}


#gympar{
  text-align:center;
  font-size: 20px;
  margin: 0;
  margin-right: 20px; 
}


#contactpar{
  text-align:center;
  font-size: 20px;
  margin: 0;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #025577;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #025577;
}


* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
.login {
    background-image: url("gymimg1.jpg");
    background-size: cover;
  background-position: center;
  	width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}
.login h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	border-bottom: 1px solid #dee0e4;
}
.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 5px;
}
.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #025577;;
  	color: #ffffff;
  padding-bottom: 10px;
}
.login form input[type="password"], .login form input[type="text"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
 	  margin-top: 5px;
  	background-color: #025577;;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
	background-color: #025577;;
  	transition: background-color 0.2s;
}

.error {
    color: red;
}

.about{
    max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.aboutpage{
  background-size: cover;
  color:black;
}
#aboutgym{
 color: black;
 font-size: 30px;
 text-decoration: underline;
}
#about1{
  font-size: 20px;
  font-family: Arial, sans-serif; 
}
#about2{
  font-size: 20px;
  font-family: Arial, sans-serif;
}
#about3{
  font-size: 20px;
  font-family: Arial, sans-serif;
}

#aboutpic{
  position: relative;
  bottom: 0;
  left:50%;
  transform: translateX(-50%);
  width: 30%;
  height: 30%;
}

#whatwedo{
  font-size: 25px;
}


#cal{
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
  height: 50vh;
  object-fit: cover;
}
