body, html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #5BB5FB;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  color: #025577;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
}

p {
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  color: white;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

h5 {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  list-style-type: none;
  margin: 0px;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  height: 55px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.navbar a:hover {
  background-color: #025577;
}

img {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  max-width: 100%;
  height: auto;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #025577;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #025577;
}

* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

.login {
  	width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
  	padding: 20px;
}

.login h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding-bottom: 20px;
  	border-bottom: 1px solid #dee0e4;
}

.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 5px;
}

.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #025577;
  	color: #ffffff;
  	padding-bottom: 10px;
}

.login form input[type="password"], .login form input[type="text"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}

.login form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
  	margin-top: 5px;
  	background-color: #025577;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}

.login form input[type="submit"]:hover {
  	background-color: #025577;
  	transition: background-color 0.2s;
}

.error {
    color: red;
}

/* Add this to your gymflow.css file */
body {
    font-family: Arial, sans-serif;
   
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px;
}

form {
    background-color: #ffffff;
    border-radius: 5px;
    max-width: 600px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
}

input[type="number"],
textarea,
select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #3a84db;
    color: #ffffff;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: #2176d3;
}

p {
    text-align: center;
    font-weight: bold;
    color: #333;
}

h5 {
    text-align: center;
    color: #333;
    margin-top: 30px;
    margin-bottom: 10px;
}


 